﻿.overlay {
    opacity: 0.5;
    background: #000000;
    width: 100%;
    height: 100%;
    z-index: 500;
    top: 0;
    left: 0;
    position: fixed;
}

/* Reference: https://codepen.io/MattIn4D/pen/LiKFC */

$animationSpeed: 1500ms;
$loadingDotColor: rgba(0, 0, 0, 0.75);

.loading-overlay {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /* Transparent Overlay */
    &:before {
        content: '';
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.3);
    }
    /* :not(:required) hides these rules from IE9 and below */
    &:not(:required):after {
        content: '';
        display: block;
        font-size: 10px;
        width: 1em;
        height: 1em;
        margin-top: -0.5em;
        animation: spinner $animationSpeed infinite linear;
        border-radius: 0.5em;
        box-shadow: $loadingDotColor 1.5em 0 0 0, $loadingDotColor 1.1em 1.1em 0 0, $loadingDotColor 0 1.5em 0 0, $loadingDotColor -1.1em 1.1em 0 0, $loadingDotColor -1.5em 0 0 0, $loadingDotColor -1.1em -1.1em 0 0, $loadingDotColor 0 -1.5em 0 0, $loadingDotColor 1.1em -1.1em 0 0;
    }
}

/* Animation */
@-webkit-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
